:root {
    /* VARIÁVEIS PARA TEMA ESCURO */
    --dark-gradient: linear-gradient(45deg, rgb(27, 24, 53), rgb(37, 30, 77));
    --dark-text: rgb(255, 242, 252);
    --dark-secondary-text: rgb(164, 153, 161);
    --dark-border: rgb(38, 35, 38);
    --dark-highlight: rgba(255,255,255,.1);

    /* VARIÁVEIS PARA TEMA CLARO */
    --light-gradient: linear-gradient(45deg, rgb(207, 207, 255), rgb(243, 240, 255));
    --light-text: rgb(16, 15, 16);
    --light-secondary-text: rgb(71, 66, 71);
    --light-border: rgb(180, 175, 200);
    --light-highlight: rgba(255,255,255,.5);

    /* VARIÁVEIS GERAIS */
    --main-gradient: var(--dark-gradient);
    --main-text: var(--dark-text);
    --main-secondary-text: var(--dark-secondary-text);
    --main-border: var(--dark-border);
    --main-highlight: var(--dark-highlight);

    --main-green: rgb(22, 116, 22);
    --white-text: rgb(255, 242, 252);
    --section-background: rgba(0, 0, 0, .1);

    --error-background: rgb(255, 52, 52);
    --success-background: rgb(33, 198, 33);
}

/* ESTILIZAÇÃO GERAL DO SITE */

/* REMOVER A MARGEM E PADDING PADRÃO DO SITE */
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
}

/* ESTILIZAR FUNDO, FONTE E MARGEM PADRÃO */
body {
    margin: 25px 50px;
    background: var(--main-gradient);
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace
}

/* ESTILIZAÇÃO DO CABEÇALHO */

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

/* DIV COM A LOGO E BARRA DE NAVEGAÇÃO */
header div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* ESTILIZAÇÃO DA LOGO */
header #logo {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--main-text);
}

/* ESTILIZAÇÃO DO H1 DA LOGO */
header #logo h1 {
    font-size: 20px;
}

/* ESTILIZAÇÃO DO PARÁGRAFO DA LOGO */
header #logo p {
    font-size: 13px;
    padding-top: 3px;
    padding-right: 3px;
}

/* ESTILIZAÇÃO DO BOTÃO DE TEMA DO CABEÇALHO E BARRA LATERAL */
header #theme-button, aside #side-theme-button {
    width: 50px;
    height: 50px;
    background: var(--section-background);
    border: 1px solid var(--main-border);
    border-radius: 100%;
}

/* ESTILIZAÇÃO PARA QUANDO O CURSOR ESTIVER NOS BOTÕES DE TEMA */
header #theme-button:hover, aside #side-theme-button:hover {
    background: var(--main-highlight);
    cursor: pointer;
}

/* ESTILIZAÇÃO DA IMAGEM DOS BOTÕES DE TEMA */
header #theme-button img, aside #side-theme-button img {
    height: 30px;
    width: 30px;
    padding: 10px;
}

/* ESTILIZAÇÃO DA BARRA DE NAVEGAÇÃO */
header #navegacao {
    background: var(--section-background);
    border: 1px solid var(--main-border);
    border-radius: 20px;
    width: 700px;
    height: 50px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

/* ESTILIZAÇÃO DOS LINKS DA BARRA DE NAVEGAÇÃO */
header #navegacao a {
    color: var(--main-text);
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
}

/* QUANDO O MOUSE ESTIVER NOS LINKS DA BARRA DE NAVEGAÇÃO */
header #navegacao a:hover {
    background: var(--main-highlight);
    border-radius: 10px;
}

/* ESTILIZAÇÃO DO RODAPÉ */

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    color: var(--main-text);
    padding-bottom: 20px
}

/* ESTILIZAÇÃO DO ASIDE */

aside {
    position: fixed;
    top: 0;
    right: -205px;
    display: none;
}

/* ESTILIZAÇÃO DA BARRA LATERAL */
aside #side-bar {
    background: var(--main-gradient);
    border: 2px solid var(--main-border);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 200px;
    height: 350px;
}

/* ESTILIZAÇÃO DOS LINKS DA BARRA LATERAL */
aside #side-bar a {
    color: var(--main-text);
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    margin-top: 5px;
}

/* QUANDO O MOUSE ESTIVER NOS LINKS DA BARRA LATERAL */
aside #side-bar a:hover {
    background: var(--main-highlight);
    border-radius: 10px;
}

/* ESTILIZAÇÃO DO BOTÃO DE MENU */
aside #menu-button {
    width: 64px;
    height: 64px;
    background: var(--main-gradient);
    border: 1px solid var(--main-border);
    border-radius: 100%;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
}

/* QUANDO O MOUSE ESTIVER NO BOTÃO DE MENU */
aside #menu-button:hover {
    background: gray;
    cursor: pointer;
}

/* ESTILIZAÇÃO DA IMAGEM DO BOTÃO DE MENU */
aside #menu-button img {
    width: 44px;
    height: 44px;
    padding: 16%;
}

/* ESTILIZAÇÃO DO BOTÃO DE TEMA DA BARRA LATERAL */
aside #side-theme-button {
    margin-bottom: 15px;
    margin-left: 140px;
}


/* ESTILIZAÇÃO DAS CLASSES */

/* ESTILIZAÇÃO DAS SESSÕES GERAIS */
.sections {
    background: var(--section-background);
    border: 1px solid var(--main-border);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin: 25px 30px;
    padding: 45px 75px;
}

/* ESTILIZAÇÃO DOS LINKS NA SESSÃO DE CONTATO */

/* ESTILIZAÇÃO DA SESSÃO EM GERAL */
.sections .info #links {
    display: flex;
    gap: 30px;
}

/* ESTILIZAÇÃO DOS LINKS */
.sections .info #links .link {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ESTILIZAÇÃO DAS IMAGENS DOS LINKS */
.sections .info #links .link img {
    width: 24px;
    height: 24px;
}

/* ESTILIZAÇÃO DOS LINKS */
.sections .info #links .link a {
    color: var(--main-text);
    text-decoration: none;
}

/* QUANDO O MOUSE ESTIVER EM UM DOS LINKS */
.sections .info #links .link a:hover {
    color: rgb(78, 234, 255);
    text-decoration: underline;
}

/* ESTILIZAÇÃO DOS BLOCOS DE INFORMAÇÃO GERAIS */

/* DEFINIR TAMANHO */
.info {
    width: 45%;
}

/* ESTILIZAÇÃO DOS H1 */
.info h1 {
    color: var(--main-text);
    font-size: 55px;
}

/* ESTILIZAÇÃO DOS PARÁGRAFOS */
.info p {
    color: var(--main-text);
    font-size: 20px;
    padding: 40px 0px;
}

/* ESTILIZAÇÃO DAS CLASSES DE FORMAÇÃO */

/* ESTILIZAÇÃO GERAL */
.formacao {
    background: var(--section-background);
    border: 1px solid var(--main-border);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 175px;
    width: 600px;
    padding: 0px 25px;
}

/* ESTILIZAÇÃO DOS H1 */
.formacao h1 {
    color: var(--main-text);
    font-size: 50px;
    margin-bottom: 15px;
}

/* ESTILIZAÇÃO DOS SUBTÍTULOS H2 E H3 */
.formacao h2, .formacao h3 {
    color: var(--main-secondary-text);
}

/* ESTILIZAÇÃO DA SESSÃO DE PROJETOS */

/* ESTILIZAÇÃO GERAL */
.projeto {
    background: var(--section-background);
    border: 1px solid var(--main-border);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

/* ESTILIZAÇÃO DOS H1 */
.projeto h1 {
    color: var(--main-text);
}

/* ESTILIZAÇÃO DOS PARÁGRAFOS */
.projeto p {
    color: var(--main-text);
    margin: 0px 15px;
    text-align: justify;
}

/* ESTILIZAÇÃO DOS LINKS */
.projeto a {
    color: var(--main-text);
    text-decoration: none;
    background: var(--main-green);
    padding: 10px;
    margin: 0px 80px;
    border-radius: 20px;
}

/* QUANDO O MOUSE ESTIVER NOS LINKS */
.projeto a:hover {
    background: rgb(65, 140, 65);
}

/* ESTILIZAÇÃO DAS MENSAGENS */

/* ESTILIZAÇÃO GERAL */
.mensagem {
    width: 550px;
    height: 100px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 20px;
    color: white;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

/* DEFINIÇÃO DE MARGEM */
.mensagem section, .mensagem img {
    margin-left: 3%;
}

/* ESTILO PARA OS TEXTOS DE STATUS */
.status-green {
    color: rgb(94, 214, 94)
}

/* ESTILIZAÇÃO DOS IDS*/

/* ESTILIZAÇÃO DA SESSÃO SOBRE MIM*/

/* DEFINIÇÃO DE TAMANHO */
#sobre-mim {
    height: 650px
}

/* ESTILIZAÇÃO DO H2 DO BLOCO DE INFORMAÇÕES */
#sobre-mim .info h2 {
    font-size: 35px;
    color: var(--main-secondary-text);
}

/* ESTILIZAÇÃO DA SESSÃO DE BOTÕES DO BLOCO DE INFORMAÇÕES */
#sobre-mim .info #buttons {
    display: flex;
    gap: 30px
}

/* ESTILIZAÇÃO DOS LINKS NA SESSÃO DE BOTÕES */
#sobre-mim .info #buttons a {
    font-size: 20px;
    text-decoration: none;
    color: var(--main-text);
    padding: 10px;
    border-radius: 20px;
}

/* ESTILIZAÇÃO DO BOTÃO PARA PROJETOS */
#sobre-mim .info #buttons #info-projetos {
    background: var(--main-green);
    border: 2px solid var(--main-green);
}

/* ESTILIZAÇÃO DO BOTÃO PARA CONTATO */
#sobre-mim .info #buttons #info-contato {
    border: 2px solid var(--main-text);
}

/* QUANDO O MOUSE ESTIVER NO BOTÃO DE PROJETOS */
#sobre-mim .info #buttons #info-projetos:hover {
    background: rgb(65, 140, 65);
    border: 2px solid rgb(65, 140, 65);
}

/* QUANDO O MOUSE ESTIVER NO BOTÃO DE CONTATO */
#sobre-mim .info #buttons #info-contato:hover {
    background: var(--main-highlight);
}

/* ESTILIZAÇÃO DA IMAGEM */
#sobre-mim img {
    width: 500px;
    height: 500px;
    border-radius: 100%;
}

/* ESTILIZAÇÃO DA SESSÃO DE FORMAÇÕES */

/* ESTILIZAÇÃO GERAL */
#formacao #main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ESTILIZAÇÃO DA SESSÃO DE PORTFÓLIO */

/* ESTILIZAÇÃO GERAL */
#portfolio #main {
    display: grid;
    grid-template-columns: 360px 360px;
    grid-template-rows: 360px;
    gap: 30px;
}

/* ESTILIZAÇÃO DO FORMULÁRIO DE MENSAGENS */

/* ESTILIZAÇÃO GERAL */
#form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* ESTILIZAÇÃO DOS CAMPOS DE TEXTO */
#form input, #form textarea {
    width: 500px;
    height: 40px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#form textarea {
    height: 140px;
}

/* ESTILIZAÇÃO DO BOTÃO DE ENVIAR */
#form button {
    background: var(--main-green);
    border: 1px solid var(--main-green);
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: var(--main-text);
    padding: 10px;
    margin: 10px 35%;
}

/* QUANDO O MOUSE ESTIVER NO BOTÃO DE ENVIAR */
#form button:hover {
    background: rgb(65, 140, 65);
    border: 1px solid rgb(65, 140, 65);
    cursor:pointer
}

/* ANIMAÇÕES */

/* KEYFRAMES E CLASSE PARA FECHAR MENSAGENS */
@keyframes closeMessage {
    from {bottom: 10px; }
    to {bottom: -120px; }
}

.close-message-animation {
    animation: closeMessage .2s forwards;
}

/* KEYFRAMES E CLASSE PARA ABRIR O MENU */
@keyframes openMenu {
    from {right: -205px; }
    to {right: 0px; }
}

.open-menu-animation {
    animation: openMenu .2s forwards;
}

@keyframes closeMenu {
    from {right: 0px; }
    to {right: -205px; }
}

/* KEYFRAMES E CLASSE PARA FECHAR O MENU*/
.close-menu-animation {
    animation: closeMenu .2s forwards;
}

/* MEDIA QUERRIES */

/* QUANDO A TELA TIVER NO MÁXIMO 1390 PIXELS*/
/* ALTERAR A SESSÃO DE PORTFÓLIO */
@media screen and (max-width: 1390px) {
    #portfolio {
        flex-direction: column-reverse;
        text-align: center;
    }
}

/* QUANDO A TELA TIVER NO MÁXIMO 1260 PIXELS*/
/* ALTERAR AS SESSÕES DE FORMAÇÃO E CONTATO*/
@media screen and (max-width: 1260px) {
    #formacao, #contato {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #formacao #main, #contato #form {
        align-items: center;
    }
    #contato #links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* QUANDO A TELA TIVER NO MÁXIMO 1200 PIXELS*/
/* ALTERAR O CABEÇALHO, A SESSÃO SOBRE MIM E ALGUMAS SESSÕES GERAIS*/
@media screen and (max-width: 1200px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    header #logo {
        padding: 20px;
    }
    header #logo p {
        display: none;
    }
    header div {
        width: 100%;
        justify-content: space-between;
    }
    header .button {
        margin-left: 0px;
    }
    #sobre-mim {
        flex-direction: column-reverse;
        height: auto;
        text-align: center;
    }
    #sobre-mim .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
    }
    #sobre-mim img {
        width: 250px;
        height: 250px;
    }
    #sobre-mim .info #buttons {
        justify-content: center;
    }
    .info {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .info h1 {
        font-size: 35px;
    }
    .info p {
        font-size: 20px;
    }
}

/* QUANDO A TELA TIVER NO MÁXIMO 1020 PIXELS*/
/* ESCONDER A BARRA DE NAVEGAÇÃO E MOSTRAR A BARRA LATERAL */
@media screen and (max-width: 1020px) {
    header div {
        display: none;
    }
    aside {
        display: flex;
    }
}

/* QUANDO A TELA TIVER NO MÁXIMO 970 PIXELS*/
/* ALTERAR A SESSÃO DE PORTFÓLIO */
@media screen and (max-width: 970px) {
    #portfolio {
        justify-content: center;
        padding: 20px;
    }
    #portfolio #main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projeto {
        width: 90%;
        height: 360px;
    }
    .projeto a {
        margin-top: 5px;
    }
}

/* QUANDO A TELA TIVER NO MÁXIMO 860 PIXELS*/
/* ALTERAR A SESSÃO DE FORMAÇÃO */
@media screen and (max-width: 860px) {
    .formacao {
        width: 90%;
        padding-right: 10%;
        padding-left: 10%;
        margin: 0;
    }
    .formacao h1 {
        font-size: 30px;
    }
}

/* QUANDO A TELA TIVER NO MÁXIMO 755 PIXELS*/
/* ALTERAR A SESSÃO SOBRE MIM, O FORMULÁRIO E AS MENSAGENS*/
@media screen and (max-width: 755px) {
    #sobre-mim .info #buttons {
        flex-direction: column;
    }
    #form {
        width: 100%;
    }
    #form input, #form textarea {
        width: 120%;
    }
    .mensagem {
        width: 400px;
    }
    .mensagem p {
        display: none;
    }
}